* { 
    margin: 0; 
    padding: 0; 
}
html {
    min-height: 100%;
}

body {
    background: linear-gradient(#b5e48c, #457b9d);
}

 .inner-box {
    width: 60%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(#cd2b0e, #b58f14);
 }   
 .landing-page-img{
    float:right;
    
 }
 .land-head-text{
    width:50%;
    float:left;
    margin-left: 50px;
    margin-top: 50px;
 }